h1, h2, h6 {
	font-family: 'Abel', sans-serif;
	z-index: 5;
}

h3 {
	font-family: 'Quicksand', sans-serif;
	z-index: 5;
}

a {
	color: #000000;
	text-decoration: none;
}

header {
	background-color: white;
	position: relative;
	width: 100%;
	height: 128px;
}

#feature_h1_title {
	font-size: 40px;
	color: #4A4A4A;
	line-height: 48px;
	letter-spacing: 1px;
	position: relative;
	top: 245px;
	width: 386px;
}

#feature_h6_title {
	font-size: 16px;
	color: #A09090;
	line-height: 28px;
	letter-spacing: 0.5px;
	position: relative;
	top: 290px;
	width: 230px;
}

#feature_h2_title {
	/* Features:: */
	font-size: 32px;
	color: #4A4A4A;
	line-height: 40px;
	position: relative;
	top: 450px;
}

#line_image {
	position: relative;
	top: 194px;
	clear: both;
}

#steps_image {
	position: absolute;
	left: 794px;
	top: 103px;
}

#water_background {
	background-color: #CFE3DF;
	width: 100%;
	height: 100%;
	z-index: -4;
}

#features_block {
	background-color: #CFE3DF;
	width: 978px;
	height: 1356px;
	margin: auto;
	z-index: 2;
}

#poster_block {
	background-color: white;
	width: 100%;
	height: 1088px;
}

#sharing_block {
	background: #DE6554;
	width: 100%;
	height: 1263px;
}

#ads_block {
	position: relative;
	width: 978px;
	margin: auto;
	top: 130px; 
	z-index: 1;
}

#steps_anim {
	float: right;
	top: 103px;
}

#main_feature_anim {
	position: absolute;
	z-index: 1;
}

#centered {
	position: relative;
	width: 978px;
	margin: auto;
}

#logo {
	float: left;
	margin-top: 34px;
}

#back {
/*	background-color: black; */
    background: #FFF url("img/back.jpeg") no-repeat center bottom;
/*	background-image: url("img/back.jpeg"); */
	margin: auto;
	position: relative;
	width: 100%;
	height: 651px;
}

#pawa {
	background-image: url("img/pawa.png");
	width: 359px;
	height: 448px;
	margin: auto;
}

#tutorials_intro {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
	line-height: 18px;
	text-align: center;
}

#tutorials_container {
	width: 978px;
	margin:auto;
	margin-top: 36px;
}

#tutorials_check {
	margin-top: 16px;
	text-align: center;
	font-size: 16px;
	color: #CE6D5C;
	line-height: 28px;
}

#slides {
	width: 638px;
	margin: auto;
	margin-top: 34px;
}

#slide_1 {
	background-image: url("img/slide1.png");
}

#slide_2 {
	background-image: url("img/slide2.png");
}

#slide_3 {
	background-image: url("img/slide3.png");
}

#back_pattern {
	/* background-color: red; */
	background-repeat: -repeat;
	width: 100%;
	height: 53px;
	position: absolute;
	bottom: -1622px;	
}

.ads {
	background-image: url("img/pattern.png");
	background-repeat: -repeat;
	float: left;
	margin-left: 30px;
	width: 300px;
	height: 456px;
}

.ads:first-child {
	clear: both;
	margin-left: 0px;
}

.pic_ads {
	background-color: #D6E1DE;
	margin: auto;
	margin-top: 38px;
	width: 242px;
	height: 182px;
}

.ads_text {
	font-size: 16px;
	color: #4A4A4A;
	line-height: 21px;
	width: 242px;
	margin: auto;
	margin-top: 40px;
}

.ads_anim {
	margin: auto;
	margin-top: 38px;
	width: 242px;
	height: 182px;
}

.ads_title {
	font-size: 24px;
	color: #858383;
	line-height: 28px;
	text-align:center;
	margin: auto;
	margin-top: 40px;
}

.top_menu {
	margin-top: 55px;
	padding-right: 52px;
	float: right;
	font-size: 14px;
	line-height: 16px;
}

.top_menu:last-child {
	margin-right: 0;
}

.tutorials_gap {
	float: left;
	width: 146px;
	margin-right: 100px;
}

.tutorials_gap:last-child {
	margin-right: 0;
}

.tutorial_slides {
	width: 146px;
	height: 85px;
}

.tutorials_text {
	margin-top: 20px;
	font-size: 18px;
	color: #000000;
	line-height: 23px;
	text-align: center;
}

#red_top_menu {
	color: #C17363;
}

#green_top_menu {
	color: #657E37;
}